  <header>
    <div class="inner">
      <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}"><img id="logo" src="/favicon.png" alt="Ubuntu Asahi Logo" /></a>
      <h1><a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">Ubuntu Asahi</a></h1>
      <nav>
        <ul>
          <li><a href="/about" title="About Ubuntu Asahi">About</a></li>
          <li><a href="/support" title="Ubuntu Asahi Support">Support</a></li>
          <li><a href="/contributing" title="Contributing to Ubuntu Asahi">Contributing</a></li>
          <li><a href="/conduct" title="Ubuntu Asahi's Code of Conduct">Code of Conduct</a></li>
          <li><a href="https://github.com/UbuntuAsahi/ubuntu-asahi" title="Ubuntu Asahi's GitHub">GitHub</a></li>
        </ul>
      </nav>
    </div>
  </header>
