{{ define "main" }}
  <main class="home">
    <div id="hero">
      <div class="inner">
        <h2>Ubuntu 23.10 + Asahi Linux</h2>
        <em><a href="https://github.com/UbuntuAsahi/ubuntu-asahi#readme">Read how to install.</a></em>
        <img src="/hero.png" />
      </div>
    </div>
    <div class="inner">
      <p>Installing Ubuntu Asahi is as easy as:</p>
      <div id="term">
        <div id="bar">
          <span class="dot red"></span>
          <span class="dot yellow"></span>
          <span class="dot green"></span>
        </div>
        <div id="screen">
          <code>curl -sL https://ubuntuasahi.org/install | sh</code>
        </div>
      </div>
    </div>
  </main>
{{- end }}
