{{ define "main" }}
  <main class="home">
    <div id="hero">
      <div class="inner">
        <h2>Ubuntu 23.04 + Asahi Linux</h2>
        <em><a href="https://github.com/UbuntuAsahi/ubuntu-asahi#readme">Read how to install.</a></em>
        <img src="/hero.png" />
      </div>
    </div>
    <div class="inner">
      <p>After reviewing Ubuntu Asahi scripts, installation is as easy as:
      <br>
      <div id="term">
        <div id="bar">
          <div id="red"></div>
          <div id="yellow"></div>
          <div id="green"></div>
        </div>
        <div id="screen">
        <p class="term-font">
          curl -sL https://ubuntuasahi.org/install | sh
        </p>
        </div>
      </div>
    </div>
  </main>
{{- end }}
